# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
npm-debug.log*

# Preview/build artifacts
fitmorphs-preview/

# Environment variables
.env
.env.local
